gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# Remember to never publicly share your keydiea.
# See https://flutter.dev/to/reference-keydiea
key.properties
**/*.keydiea
**/*.jks
